<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui">

  <title>Onion analyses</title>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">-->
  <link href="style.css" rel="stylesheet">
</head>
<body>
  <div id="cy"></div>
  <div id="loading">
    <span class="fa fa-refresh fa-spin"></span>
  </div>
  
  <div id="search-wrapper">
    <input type="text" class="form-control" id="search" autofocus placeholder="Search">
  </div>
  
  <div id="info">
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.3/fastclick.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  
  <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
  <!--<script src="../cytoscape.js/build/cytoscape.js"></script>-->
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-qtip/2.2.3/cytoscape-qtip.js"></script>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
  <script src="graph.js"></script>
  
  <button id="reset" class="btn btn-default"><i class="fa fa-arrows-h"></i></button>
  
  <button id="filter" class="btn btn-default"><i class="fa fa-filter"></i></button>
  
  <div id="filters">
    <strong>Categories</strong>
    <input id="Weapons" type="checkbox" checked></input><label for="soft">Weapons</label><br />
    <input id="Humans" type="checkbox" checked></input><label for="semi-soft">Humans</label><br />
    <input id="Drugs" type="checkbox" checked></input><label for="na">Drugs</label><br />
    <input id="Papers" type="checkbox" checked></input><label for="semi-hard">Papers</label><br />
    <input id="Porno" type="checkbox" checked></input><label for="hard">Porno</label>
    
    <hr />
    
    <strong>Lang</strong>
    <input id="fr" type="checkbox" checked></input><label for="white">fr</label><br />
    <input id="en" type="checkbox" checked></input><label for="red">en</label><br />
    <input id="ru" type="checkbox" checked></input><label for="cider">ru</label>
  </div>
  
</body>
</html>
